<li class="mt-2 col-md-8">
    <div class="card">
        <div class="card-body">

            <div class="">
                <div>{{comment}}</div>
                <div class="">{{post.User.firstname}}
                    {{post.User.lastname}}
                </div>

                <div class="">{{created}}</div>

            </div>
        </div>
    </div>
</li>