<h3>Name's Posts</h3>


<div class="container-md">
    <ul class="comment-history">
        <li class="mt-2">
            <div class="card">
                <div class="card-body">
                    Post title
                    <div class="">
                        <div class="">username</div>
                        <div class="">date</div>
                    </div>
                </div>
            </div>
        </li>
        <li class="mt-2">
            <div class="card">
                <div class="card-body">
                    Post title
                    <div class="">
                        <div class="">username</div>
                        <div class="">date</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>