<div class="container-md">
    <ul>
        {{#each posts as | post | }}



        <li class="mt-2">
            <div class="card">
                <div class="card-body">
                    {{title}}
                    <div class="">
                        <div class="">{{post.User.firstname}}
                            {{post.User.lastname}}
                        </div>

                        <div class="">{{created}}</div>
                    </div>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>