<div class="container-md">
    <form action="/auth/login" method="post">
        <label for="email-login">Email:</label>
        <input type="email" name="email" id="email" />

        <label for="password-login">Password:</label>
        <input type="text" name="password" id="password" />

        <button type="submit">Submit</button>
    </form>
    <a href="/auth/signup">Sign Up</a>
</div>