<div class="container-md">
   <form action="/auth/register" method="post">
      <label for="firstname-login">First name</label>
      <input type="text" name="firstname" id="firstname" />

      <label for="lastname-login">Last name</label>
      <input type="text" name="lastname" id="lastname" />

      <label for="email-login">Email:</label>
      <input type="email" name="email" id="email" />

      <label for="password-login">Password:</label>
      <input type="text" name="password" id="password" />
      <button type="submit">Submit</button>
   </form>
</div>